.container{
    width: 50rem;
    height: 20rem;
    background-color: darkblue;
    display: block;
    text-align: center;
    margin:0rem;
    padding:0rem;
}
 h1{
     text-align: center;
 }
 #datee{
     text-align: center;
 }
 #output{
     color: black;
 }

